<%= form_with model: post, local: true do |f| %>
<div>
  <%= f.label :name %>
</div>
<div>
  <%= f.text_field :name, placeholder: "名前を入力" %>
</div>
<div>
  <%= f.label :description %>
</div>
<div>
  <%= f.text_field :description, placeholder: "詳細を入寮" %>
</div>
<%= f.submit nil %>
<% end %>
