<% breadcrumb :post_show, @post %>

<h1>投稿詳細</h1>
<div>
  <%= @post.name %>
</div>
<div>
  <%= @post.description %>
</div>
<div>
  <%= @post.created_at %>
</div>
<div>
    <%= link_to '編集', edit_post_path %>
</div>
<div>
    <%= link_to '削除', post_path, method: :delete, data: {confirm: "#{@post.name}を削除してよろしいですか？"} %>
</div>
